.idea
.vscode
__pycache__	
/cifar10/
/cifar10_logs/
/svhn/
/cifar_100/
/models/svhn/__pycache__/
/libs/__pycache__/
/libs/caffe/__pycache__/
/libs/grammar/__pycache__/
/libs/input_modules/__pycache__/
/libs/misc/__pycache__/

