.idea
.vscode
cifar10/cifar-10-batches-py/batches.meta
cifar10/cifar-10-batches-py/data_batch_1
cifar10/cifar-10-batches-py/data_batch_2
cifar10/cifar-10-batches-py/data_batch_3
cifar10/cifar-10-batches-py/data_batch_4
cifar10/cifar-10-batches-py/data_batch_5
cifar10/cifar-10-batches-py/readme.html
cifar10/cifar-10-batches-py/test_batch
cifar10/test.lmdb/data.mdb
cifar10/test.lmdb/lock.mdb
cifar10/train_full.lmdb/data.mdb
cifar10/train_full.lmdb/lock.mdb
cifar10/train.lmdb/data.mdb
cifar10/train.lmdb/lock.mdb
cifar10/trained_models/cifar10/file_map.csv
cifar10/trained_models/cifar10/1/log_0.001000_351.txt
cifar10/trained_models/cifar10/1/log_complete_0.001000_351.txt
cifar10/trained_models/cifar10/1/modelsave_iter_351.caffemodel
cifar10/trained_models/cifar10/1/modelsave_iter_351.solverstate
cifar10/trained_models/cifar10/1/modelsave_iter_1053.caffemodel
cifar10/trained_models/cifar10/1/modelsave_iter_1053.solverstate
cifar10/trained_models/cifar10/1/modelsave_iter_1755.caffemodel
cifar10/trained_models/cifar10/1/modelsave_iter_1755.solverstate
cifar10/trained_models/cifar10/1/solver.prototxt
cifar10/trained_models/cifar10/1/train_net.prototxt
cifar10/trained_models/cifar10/2/log_0.001000_351.txt
cifar10/trained_models/cifar10/2/log_complete_0.001000_351.txt
cifar10/trained_models/cifar10/2/modelsave_iter_351.caffemodel
cifar10/trained_models/cifar10/2/modelsave_iter_351.solverstate
cifar10/trained_models/cifar10/2/modelsave_iter_1755.caffemodel
cifar10/trained_models/cifar10/2/modelsave_iter_1755.solverstate
cifar10/trained_models/cifar10/2/solver.prototxt
cifar10/trained_models/cifar10/2/train_net.prototxt
cifar10/trained_models/cifar10/3/log_0.001000_351.txt
cifar10/trained_models/cifar10/3/log_complete_0.001000_351.txt
cifar10/trained_models/cifar10/3/modelsave_iter_351.caffemodel
cifar10/trained_models/cifar10/3/modelsave_iter_351.solverstate
cifar10/trained_models/cifar10/3/modelsave_iter_376.caffemodel
cifar10/trained_models/cifar10/3/modelsave_iter_376.solverstate
cifar10/trained_models/cifar10/3/solver.prototxt
cifar10/trained_models/cifar10/3/train_net.prototxt
cifar10/val.lmdb/data.mdb
cifar10/val.lmdb/lock.mdb
cifar10/cifar-10-python.tar.gz
cifar10_logs/q_values.csv
cifar10_logs/replay_database.csv
libs/caffe/__pycache__/__init__.cpython-37.pyc
libs/caffe/__pycache__/model_exec.cpython-37.pyc
libs/caffe/__pycache__/model_gen.cpython-37.pyc
libs/caffe/__pycache__/run_caffe_command_line.cpython-37.pyc
libs/caffe/__pycache__/string_to_model.cpython-37.pyc
libs/caffe/__pycache__/__init__.cpython-37.pyc
libs/caffe/__pycache__/model_exec.cpython-37.pyc
libs/caffe/__pycache__/model_gen.cpython-37.pyc
libs/caffe/__pycache__/run_caffe_command_line.cpython-37.pyc
libs/caffe/__pycache__/string_to_model.cpython-37.pyc
libs/grammar/__pycache__/__init__.cpython-37.pyc
libs/grammar/__pycache__/cnn.cpython-37.pyc
libs/grammar/__pycache__/q_learner.cpython-37.pyc
libs/grammar/__pycache__/q_protocol.cpython-37.pyc
libs/grammar/__pycache__/state_enumerator.cpython-37.pyc
libs/grammar/__pycache__/state_string_utils.cpython-37.pyc
libs/misc/__pycache__/__init__.cpython-37.pyc
libs/misc/__pycache__/clear_trained_models.cpython-37.pyc
libs/input_modules/__pycache__/get_datasets.cpython-37.pyc
libs/input_modules/__pycache__/preprocessing.cpython-37.pyc
models/__pycache__/__init__.cpython-37.pyc
models/cifar10/__pycache__/__init__.cpython-37.pyc
models/cifar10/__pycache__/hyper_parameters.cpython-37.pyc
models/cifar10/__pycache__/state_space_parameters.cpython-37.pyc
libs/grammar/__pycache__/__init__.cpython-37.pyc
libs/grammar/__pycache__/cnn.cpython-37.pyc
libs/grammar/__pycache__/q_learner.cpython-37.pyc
libs/grammar/__pycache__/q_protocol.cpython-37.pyc
libs/grammar/__pycache__/state_enumerator.cpython-37.pyc
libs/grammar/__pycache__/state_string_utils.cpython-37.pyc
libs/grammar/__pycache__/__init__.cpython-37.pyc
libs/grammar/__pycache__/cnn.cpython-37.pyc
libs/grammar/__pycache__/q_learner.cpython-37.pyc
libs/grammar/__pycache__/q_protocol.cpython-37.pyc
libs/grammar/__pycache__/state_enumerator.cpython-37.pyc
libs/grammar/__pycache__/state_string_utils.cpython-37.pyc
