attrs
Automat
backports.shutil-get-terminal-size
constantly
cycler
Cython
decorator
enum34
h5py
incremental
ipython
ipython-genutils
leveldb
lmdb
matplotlib
mxnet
networkx
nose
numpy
olefile
opencv-python
pandas
pathlib2
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
python-gflags
pytz
PyWavelets
PyYAML
scandir
scikit-image
scipy
simplegeneric
six
subprocess32
traitlets
Twisted
wcwidth
Yapps
zope.interface
tensorflow_datasets
tensorflow